@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

html{
  background-image: url("images/elzaelis.png");
  background-size: cover;
  /* background-position: center;
  background-attachment: fixed;
  background-clip: border-box;
  background-repeat: no-repeat; */
  font-family: 'Abel', sans-serif;
  color: white;
  height: 100%;
}

img{
  background-position: center;
  background-attachment: fixed;
  /* background-clip: border-box; */
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
}


.navigation{
  color: white;
  background-color:#040404b8;
  display:flex;
  justify-content: space-between;
  flex-direction: row; 
  border:1px solid #c0c0c0;
  float:left;  
  border-color: black;
  /* opacity: 70%; */
  padding: 0% 39%;
}

.navigation ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: black;
  margin: 0;
  padding: 2% 122%;
}

.navigation li{
  margin: 0;
  display:flex;
  justify-content:center;
  padding: 5px 30px;
  float:left;
/*   position:relative; */
  border-right:1px solid rgb(247 0 57);
}

.navigation li:hover{
  background: transparent;
  color: rgb(247, 9, 29);
}

.conteiner{
  padding: 100px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align:center;
}

.first-content,
.second-content{
  background-color:#040404b8;;
  border-radius: 15px;
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items:center;
  /* opacity: 70%; */
}

.title{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
}

.description{
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  line-height:40px;
}

.btn, .register-button{
  border-radius: 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 10px;
  padding: 10px 40px;
  margin: 20px;
  background-color:transparent;
  width: 150px;
  align-self: center;
  border: 1px solid white;
  background-color: rgb(247 0 57);
}

.btn:hover, .register-button:hover{
  background-color: black;
}

.list-social-media{
  display:flex;
  justify-content:center;
  align-items:center;
  list-style-type: none;
}

.item-social-media{
  border: 1px solid #bdc3c7;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align:center;
}

#google-button{
  color: rgb(247 0 57);
}

.form{
  display: flex;
  flex-direction: column;
  /* padding: 25px 0px; */
  width: 100%;
}

.form input{
  height: 45px;
  border: none;
  background-color: #ecf0f1;
  margin: 8px;
  font-size: 15px;
  text-align:center;
}

.icon-modify{
  color: rgb(247 0 57);
}

a{
  color: rgb(199 146 159 / 97%);
  text-decoration: none;
}
  
a:link{
  text-decoration: underline;
}
  
.footer{
  color: white;
  background-color: #040404e6;
  border-style: groove;
  border-color: rgb(89, 85, 85);
  padding: 2px 2px;
  display: block;
  text-align: center;
  font-family: Arial;
  font-size: 10px;
  letter-spacing: 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.google-button {
  background-color: white;
  border: none;
  color: blue;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.google-button .icon-google {
  background: url(https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg) no-repeat;
  float: left;
  width: 20px;
  height: 20px;
}
.google-button .span {
  float: left;
  width: 20px;
  height: 20px;
}


/* #div-principal {
  display: table;
  margin: 0 auto;
  border: 1px solid black;
  padding: 50px
} */

.text-post {
padding: 50px
}

.publish-box {
padding: 50px
}
