html{
    background-image: url('images/Imagem\ Elza\ Elis.png');
    background-size: cover;
    /*background-position: center;
    background-attachment: fixed;
    background-clip: border-box;
    background-repeat: no-repeat; */
    font-family: "Inconsolata", sans-serif;
    color: white;
}
img{
    background-position: center;
    background-attachment: fixed;
    /* background-clip: border-box; */
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

.conteiner{
    display:flex;
    justify-content: space-around;
    flex-direction: row; 
    border:solid 1px;
    border-radius:10px;  
    border-color: white;
    text-align: center;
    
}
.Bemvindo{
  text-align: center;
}

.LOGIN {
  text-align: center;
}

form{
    text-align: center;
     width: 400px; 
     margin-left: auto; 
     margin-right: auto; 
     margin-top: 10vw; 
     border-radius: 20px; 
     /*border: solid 1px;*/
     background-color: linear-gradient(to bottom, transparent 80%, black 75%);
}

li:hover {
    border:solid 1px;
    border-radius: 10px;
}

a{
    color: rgb(0, 181, 247);
    text-decoration: none;
  }
  
  a:link{
    text-decoration: underline;
  }
  
  .footer{
    color: white;
  /* background-color: #000000;*/
    border-color: white;
    padding: 2px 2px;
    display: block;
    text-align: center;
    font-family: Arial;
   /* font-size: 10px;*/
    letter-spacing: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: solid 1px;
    border-radius: 10px;
    margin :5px;
  }
