*{margin: 0; padding: 0;}

html{
    background-image: url("images/wallpaper3.jpg");
    background-size: cover;
    /* background-position: center;
    background-attachment: fixed;
    background-clip: border-box;
    background-repeat: no-repeat; */
    font-family: "Inconsolata", sans-serif;
    color: white;
}

img{
    background-position: center;
    background-attachment: fixed;
    /* background-clip: border-box; */
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 1% 72%;
}
  
li{
    margin: 0;
    display:flex;
    justify-content:center;
    padding: 5px 30px;
    float:left;
}

.conteiner{
    color: white;
    background-color: black;
    display:flex;
    justify-content: space-between;
    flex-direction: row; 
    border:1px solid #c0c0c0;
    float:left;  
    border-color: black;
    
}

.conteiner li{
    position:relative;
    float:left;
    border-right:1px solid rgb(247 0 57);
   
}

li:hover{
background:rgb(14, 14, 14);
color:rgba(234, 6, 55);
-moz-box-shadow:0 3px 10px 0 #1d181c;
-webkit-box-shadow:0 3px 10px 0 #5a5359;
text-shadow:0px 0px 5px #191717;
}

a{
    color: rgb(0, 181, 247);
    text-decoration: none;
}
  
a:link{
    text-decoration: underline;
}
  
.footer{
    color: white;
    background-color: #000000;
    border-style: groove;
    border-color: rgb(89, 85, 85);
    padding: 2px 2px;
    display: block;
    text-align: center;
    font-family: Arial;
    font-size: 10px;
    letter-spacing: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.google-button {
    background-color: white;
    border: none;
    color: blue;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    /* margin: 4px 2px; */
    cursor: pointer;
}
.google-button .icon-google {
    background: url(https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg) no-repeat;
    float: left;
    width: 20px;
    height: 20px;
}
.google-button .span {
    float: left;
    width: 20px;
    height: 20px;
}

#error-msg {
padding-bottom: 15px
}


#div-login {
display: table;
margin: 0 auto;
border: 1px solid black;
padding: 50px
}